body {
    font-family: "Montserrat";
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat";
    font-weight: 700; /*bold*/
}

.container-fluid {
    padding: 7% 15%; /*top,bottom; left,right*/
}

.colored-background {
    background-color: #ef8172;
    color: #fff;
}

.white-background {
    background-color: #fff;

}

/* Heading */
.big-heading {
    font-family: "Montserrat Black";
    font-size: 3.25rem;
    line-height: 1.5
}

.section-title{
    font-size: 1.9rem;
    line-height: 1.5;
    margin-bottom: 5%;
}


/*Download buttons */
.download-btn {
    margin: 8% 3% 5% 0; /* top right bottom left*/
}

.download-btn2 {
    margin: 5% 5% 0 0; /* top right bottom left*/
}

.download-btn3 {
    margin: 5% 0 0; /* top right bottom left*/
}


/* Title section*/
#title .container-fluid{ /*Hierarchical selectors */
    padding: 3% 15% 7%;
    background-color: #ff4c68;
    text-align: left;
}


/* Navigation bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Poiret One";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 12px;
}

.nav-link {
    font-family: "Montserrat Light";
    font-size: 1.1rem;
}

/*Title Image*/
.title-image {
    transform: rotate(18deg);
    width: 19%;
    position: absolute;
    right: 22%;
}

/*Features section*/
#features {
    position: relative;
    z-index: 1; /*could be removed*/
}

.features-subtitle {
    font-size: 1.5rem;
}

.features-box {
    padding: 4%;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color:#ff4c68;
}

p{
    color: #8f8f8f;
}

/* Designs section */
.objective-text {
    font-size: 1.9rem;
    line-height: 1.5;
}

.comments-box {
    text-align: left;
    padding: 5% 5% 0%; /*top left-right bottom */
}

.comments-host {
    text-align: right;
    font-style: italic;
}

/*designs carousel */
#designs {
    padding-bottom: 7%;
}

.persona-box {
    padding: 0 10%;
}

.persona-image {
    width: 100%;
    margin-bottom: 1rem;
}

.carousel-inner {
    padding: 0 15%;
}

.second-item {
    padding: 0 10%;
}

.images-item {
    padding: 0 10%;
}

.lofi-image {
    width: 20%;
}

.progress-image {
    width: 20%;
    margin-bottom: 1rem;
}

/* Demo section */
#demos {
}

/* Team section */
#team {
}

/* Call to Action section */
#cta {
    color: #ef8172;
}

/* Footer */
#footer {
    background-color: #ff4c68;
}

#footer p{
    color:#fff;
}

.social-icons {
    margin: 20px;
}

/*responsive design for mobile devices */
@media (max-width: 992px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

